:root {
  background-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  background-color: transparent;
  overflow: hidden;
  user-select: none;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
}

body.is-extension {
  min-width: 350px;
  min-height: 450px;
  background-color: #2a2a35; /* Dark ambient background */
}

body.is-extension #root {
  width: 350px;
  height: 450px;
  background-color: transparent;
}

html, body, #root { background: transparent; overflow: hidden; }
